<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/headerUserSignin :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <fieldset>
<div>
    <div id="parcels-list">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>Date</td>
                <td>Status</td>
                <td>Quantity</td>
                <td>Product</td>
                <td>Total Price</td>
                <td>Price Nut</td>
                <td><b>Delete</b></td>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${parcels.empty}">
                <td colspan="7">No Parcels</td>
            </tr>
            <tr th:each="parcel : ${parcels}">
                <!--<td>
                    <a href="#" th:href="@{/address/{id}(id=${address.id})}" th:text="${address.name}">Name ...</a>
                </td>
                <td th:text="${address.street}">Street ...</td>
                <td th:text="${address.postalCode}">Postal Code ...</td>
                <td th:text="${address.city}">City ...</td>
                <td th:text="${address.notes}">Notes ...</td>
                <td>
                    <a href="#" th:href="@{/address/delete/{id}(id=${address.id})}" method="post" th:text="${address.name}">Delete ...</a>
                </td>-->
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <p>
                <a id="addParcel" class="btn btn-success btn-lg">Add Parcel</a>
            </p>
        </div>
    </div>
</div>
    </fieldset>
    <div th:insert="~{fragments/footer :: footer}">&copy; 2019 gestNuT</div>
</div>
<script th:inline="javascript" type="text/javascript">

/* Fill in modal with content loaded with Ajax */
$(document).ready(function () {
    $('#addParcel').on('click', function (e) {
        $("#myModal").modal();
        $("#myModalBody").text("");
        $.ajax({
            url: "addParcel",
            cache: false
        }).done(function (html) {
            $("#myModalBody").append(html);
        });
    })
});
</script>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Please Add Parcel</h4>
                </div>
                <div class="modal-body" id="myModalBody">Lorem ipsum</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>