<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
<form class="form-narrow form-horizontal" method="post" th:action="@{/signup}" th:object="${user}" th:fragment="user">
    <!--/* Show general error message when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${user.*}')}">
       <!-- <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>-->
    </th:block>
    <fieldset>
        <legend>Please Sign Up</legend>
        <div th:if="${confirmationMessage}" class="alert alert-success"
          role="alert" th:text=${confirmationMessage}></div>

        <div th:if="${alreadyRegisteredMessage}"
          class="alert alert-danger" role="alert"
          th:text="${alreadyRegisteredMessage}"></div>


        <div th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}"
          class="validation-message alert alert-danger" role="alert"></div>

        <div th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          class="validation-message alert alert-danger" role="alert"></div>
        
        <div th:if="${#fields.hasErrors('phoneNumber')}"
          th:errors="*{phoneNumber}"
          class="validation-message alert alert-danger" role="alert"></div>

        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
          class="validation-message alert alert-danger" role="alert"></div>

        <div th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"
          class="validation-message alert alert-danger" role="alert"></div>

        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
            <label for="firstName" class="col-lg-2 control-label">First Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}" />
                <span class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Incorrect First Name</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
            <label for="lastName" class="col-lg-2 control-label">Last Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" th:field="*{lastName}" />
                <span class="help-block" th:if="${#fields.hasErrors('lastName')}" th:errors="*{firstName}">Incorrect Last Name</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="email" placeholder="Email address" th:field="*{email}" />
                <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error'">
            <label for="phoneNumber" class="col-lg-2 control-label">Phone Number</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" th:field="*{phoneNumber}" />
                <span class="help-block" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Incorrect Phone Number</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Sign up</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <p>Already have an account? <a href="signin" th:href="@{/signin}">Sign In</a></p>
            </div>
        </div>
    </fieldset>
</form>
</div>
</body>
</html>